/*font-family: 'PT Sans', sans-serif;*/
body{
	font-family: 'PT Sans', sans-serif;
	color: #010101;
}
/*header design start*/
header{
	background-color: #fcdb00;
	padding: 20px 0;
}
.img_logo{}
.menu{}
.menu ul{}
.menu ul li{}
.menu ul li a{
	font-weight: 700;
	font-size: 22px;
	color: #010101 !important;
	padding: 0 35px !important;
	transition: .3s;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}
.menu ul li a:hover{
	color: #fff !important;
}
/*header design end*/

/*slider design start*/
.slider_section{
	background-color: #fcdb00;
	padding-bottom: 100px;
}
.custom_car_ind {
    bottom: -75px;
}
.custom_car_ind li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.s_content{
	margin-top: 80px;
}
.s_content h1{
	font-weight: 700;
	font-size: 32px;
	margin: 0;
}
.s_content h2{
	font-weight: 400;
	font-size: 20px;
	color: #313841;
	margin: 20px 0;
}
.s_content p{
	color: #555555;
	line-height: 1.3;
	margin: 0;
	margin-bottom: 40px;
}
.s_icon{}
.s_icon li i{
	font-size: 42px;
	margin-right: 20px;
	transition: .8s;
}
.s_icon li i:hover{
	transform: rotate(360deg);
}
.s_img{
	/*margin-left: 80px;*/
}
.s_img img{}
/*slider design end*/